body {
	font-family: Verdana;
	font-size: small;
}

table caption {
	text-align: left;
}

table td {
	vertical-align: top;
}

table th {
	text-align: left;
}

tr.recipe-type-MEAT td {
	color: red;
}

tr.recipe-type-VEGGIE td {
	color: green;
}

tr.recipe-type-FISH td {
	color: blue;
}

tr.recipe-type-POULTRY td {
	color: orange;
}

tr.recipe-type-SIDE_ORDER td {
	color: purple;
}

span.expanded-state {
	color: purple;
	cursor: pointer;
}

span.recipe-name {
	cursor: pointer;
}

div.daily-menu h2,h3 {
	margin-top: 5px;
	margin-bottom: 0px;
}

div.daily-menu h2 {
	font-size: medium;
}

div.daily-menu h3 {
	font-size: small;
	font-style: italic;
}

ul.dish {
	list-style: circle;
	margin: 0;
}