body {
	font-family: Verdana;
	font-size: small;
}

table caption {
	text-align: left;
}

table td {
	vertical-align: top;
}

table th {
	text-align: left;
}

span.recipe-type-MEAT {
	color: darkred;
}

span.recipe-type-VEGGIE {
	color: darkgreen;
}

span.recipe-type-FISH {
	color: indigo;
}

span.recipe-type-POULTRY {
	color: chocolate;
}

span.recipe-type-SIDE_ORDER_ROOT {
	color: forestgreen;
}

span.recipe-type-SIDE_ORDER_GREEN {
	color: lightseagreen;
}

span.expanded-state {
	color: purple;
	cursor: pointer;
}

span.recipe-name {
	cursor: pointer;
}

span.weekly-menu-name {
	color: darkred;
}

div.daily-menu h2,h3 {
	margin-top: 5px;
	margin-bottom: 0px;
}

div.daily-menu h2 {
	font-size: medium;
	font-weight: normal;
}

div.daily-menu h3 {
	font-size: small;
	font-style: italic;
	font-weight: normal;
}

ul.dish {
	list-style: circle;
	margin: 0;
}

#trashcan-container {
	display: none;
	position: absolute;
	z-index: 50;
}